{% extends "base.html" %}
{% load static %}

{% block title %}
    About Us
{% endblock title %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

{% block content %}
    <div>
        <img src="{% static '/images/unnamed.png' %}" align='left' alt="Simply Easy Learning" width="120" height="120"><br>
        <h1 align='center'><font >REACH US</font></h1><br>
           <h5 align='left' style = "font-family:georgia,garamond,serif;font-style:italic;margin-left: 7.5em;"><br><br>
           <img src="{% static '/images/saksham.jpg' %}" alt="saksham" width="65" height="65" style="border-radius:10px;border:2px solid #2a2a2a" >
           <a  href="http://www.linkedin.com/in/sakshambaranwal"><font color= #2a2a2a style="font-weight: bold;">SAKSHAM KUMAR</font></a>&emsp;&emsp;
           <img src="{% static '/images/saurav.jpg' %}" alt="saurav" width="65" height="65" style="border-radius:10px;border:2px solid #2a2a2a">
           <a  href="http://www.linkedin.com/in/saurav-kumar-69b729171"><font color= #2a2a2a style="font-weight: bold;">SAURAV KUMAR</font></a><br><br><br>
           <img src="{% static '/images/vikram.jpg' %}" alt="vikram" width="65" height="65" style="border-radius:10px;border:2px solid #2a2a2a">
           <a  href="http://www.linkedin.com/in/vikram-kumar-793148184"><font color= #2a2a2a style="font-weight: bold;">VIKRAM KUMAR</font></a>&emsp;&emsp;&emsp;
           <img src="{% static '/images/ranjan.jpg' %}" alt="ranjan" width="65" height="65" style="border-radius:10px;border:2px solid #2a2a2a">
           <a  href="http://www.linkedin.com/in/ranjan-kumar-6618bb163"><font color= #2a2a2a style="font-weight: bold;">RANJAN KUMAR</font></a><br><br><br>
           <img src="{% static '/images/kalyani.jpg' %}" alt="kalyani" width="65" height="65" style="border-radius:10px;border:2px solid #2a2a2a">
           <a  href="http://www.linkedin.com/in/kalyani-kumari-5041151a0"><font color= #2a2a2a style="font-weight: bold;">KALYANI KUMARI</font></a>&emsp;&emsp;
           <img src="{% static '/images/ritu.jpg' %}" alt="ritu" width="65" height="65" style="border-radius:10px;border:2px solid #2a2a2a">
           <a  href="http://www.linkedin.com/in/ritu-raj-2a5a86134"><font color= #2a2a2a style="font-weight: bold;">RITU RAJ</font></a></h5> 
    <br><br>
{% endblock %}